<h2>All Books</h2>

<% @books.each do |book| %>
  <div class="container">
    <div class="card">
      <p>Title: <%= book.title %> </p>
      <p>Author: <%= book.author.first_name + " " + book.author.last_name %></p>
      <p>Category: <%= book.category.category_name %></p>
      <p>Read time: <%= book.length %> mins</p>
      <%= link_to "More info", book_path(book.id) %>
      <%= link_to "Add a review", new_book_review_path(book.id) %>
      <%= link_to "Edit", edit_book_path(book.id) %>
      <%= link_to "[x]", book, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>
<% end %>

<%= link_to "Add a book", new_book_path %>
